.heading {
    padding: 5vh 5vw;
    font-size: 10vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.heading span {
    background-color: black;
    color: orange;
    padding: 1vh 5vw;
    font-size: 8vw;
}

.subheading {
    padding: 5vh 5vw;
    font-size: 3vw;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.buttons {
    padding: 10vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons Button {
    margin: 1vh 2vw;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: black;
    color: orange;
}

@media screen and (min-width: 480px) {
    .buttons {
      flex-direction: row;
    }
    .buttons Button {
        font-size: 2vw;
        width: 30%;
    }
  }

  @media screen and (max-width: 768px) {
    .subheading {
        padding: 0vh 5vw;
    }
    .buttons {
        padding: 2vh 5vw;
    }
  }